<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Vender', image: ''}) %>
<body>
	<!-- Header -->
	<%- include('../partials/headerNavbar') %>
	<!-- /Header -->

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Formulario de creación de productos</h2>
			</div>
		</div>
		<div class="col-12">
			<form action="/products/" method="POST" enctype="multipart/form-data">
				<div class="row product-detail">
					<div class="col-12 col-md-6">
						<label for="name" class="form-label">Nombre del producto:</label>
						<input type="text" id="name" name="name" placeholder="Ej: Zapatillas Reebok" class="form-input" value="<%= typeof old != 'undefined' ? old.name : '' %>">
						<p class="error"><%= typeof errors == 'undefined' ? '' : errors.name ? errors.name.msg : '' %></p>
					</div>
					<div class="col-12 col-md-6">
						<label for="price" class="form-label">Precio del producto:</label>
						<input type="text" id="price" name="price" placeholder="Ej: 5678" class="form-input" value="<%= typeof old != 'undefined' ? old.price : '' %>">
						<p class="error"><%= typeof errors == 'undefined' ? '' : errors.price ? errors.price.msg : '' %></p>
					</div>
					<div class="col-12 col-md-6">
						<div class="row">
							<label for="image" class="form-label col-12">Image:</label>
							<input type="file" id="image" name="image" class="form-file col-12">
							<div class="col-12">
								<p class="error"><%= typeof errors == 'undefined' ? '' : errors.image ? errors.image.msg : '' %></p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<label for="discount" class="form-label">Descuento:</label>
						<input type="text" id="discount" name="discount" placeholder="Ej: 15" class="form-input" value="<%= typeof old != 'undefined' ? old.discount : '' %>">
						<p class="error"><%= typeof errors == 'undefined' ? '' : errors.discount ? errors.discount.msg : '' %></p>
					</div>
					<div class="col-12 col-md-6">
						<label for="category" class="form-label">Categoría:</label>
						<select name="category" id="category" class="form-input">
							<option value="" selected disabled>Elegí</option>
							<% categories.forEach(category => { %>
								<option value="<%= category.id %>"><%= category.name %></option>
							<% }) %>
						</select>
						<p class="error"><%= typeof errors == 'undefined' ? '' : errors.category ? errors.category.msg : '' %></p>
					</div>
					<div class="col-12 col-md-6">
						<label for="brand" class="form-label">Marca:</label>
						<select name="brand" id="brand" class="form-input">
							<option value="" selected disabled>Elegí</option>
							<% brands.forEach(brand => { %>
								<option value="<%= brand.id %>"><%= brand.name %></option>
							<% }) %>
						</select>
						<p class="error"><%= typeof errors == 'undefined' ? '' : errors.category ? errors.category.msg : '' %></p>
					</div>
					<div class="col-12 col-md-6">
						<label for="description" class="form-label">Descipción:</label>
						<textarea name="description" id="description" class="form-input"><%= typeof old != 'undefined' ? old.description : '' %></textarea>
						<p class="error"><%= typeof errors == 'undefined' ? '' : errors.description ? errors.description.msg : '' %></p>
					</div>
					<div class="mt-5 col-12">
						<button type="submit" class="buy-now-button">Guardar producto</button>
					</div>
					<div class="mt-3 col-12">
						<p>(*) Campos obligatorios.</p>
					</div>
				</div>
			</form>
		</div>

	</div>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('../partials/footer') %>
	<!-- /footer -->
</body>	
</html>