<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title: user.username, image: ''}) %>

<body>
   <!-- Header -->
   <%- include('../partials/headerNavbar') %>
   <!-- /Header -->

   <div class="container products-wrapper">
      <div class="row justify-content-center">
         <div class="col-12">
            <h2 class="products-title"><%= user.username %> </h2>
            <h3 style="text-align: right; font-size: 14px;">
               <a href="/users/history">
                  Mis compras
               </a>
            </h3>
         </div>
         <div class="col-8">
            <div class="row product-detail justify-content-center">
               <div class="col-8 my-3">
                  <img src="/images/users/<%= user.image ? user.image : 'default-image.png' %>" alt="<%= user.username %>">
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <% if (user.sales.length > 0) { %>
         <div class="col-12">
            <h2 class="products-title">Tus ultimas ventas</h2>
         </div>
         <div class="col-12 mt-3">
            <section class="row">
               <% user.sales.reverse().forEach((item, index) => { %>

                  <% if (index < 3) { %>
                   
                     <h4 class="col-4"><%= new Date(item.createdAt).toLocaleDateString() %> </h4>
                     <section class="col-8 row info">
                        <div class="col-6 row">
                     <div class="col-3">
                        <img src="/images/products/<%= item.product.image %>" alt="<%= item.product.name %>" width="50%">
                     </div>
                     <div class="col-9">
                        <ul>
                           <li style="font-size: 12px;">
                              <small>
                                 <%= item.product.name %> x<%= item.quantity %>
                              </small>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-6">
                     <p class="product-detail-price">
                        $<%= item.subTotal %>
                     </p>
                  </div>
               </section>
               <% } %>
               <% }) %>
            </section>
            <div class="mt-5" style="text-align: center; font-size: 14px;">
               <a href="/users/profile/sales">Ver todas</a>
            </div>
         </div>
         <% } %>
         <% if(user.products.length != 0){ %> 
         <div class="col-12">
            <h2 class="products-title">Tus productos</h2>
         </div>
         <% user.products.forEach(product => { %>
      
         <div class="col-12 col-sm-6 col-lg-3">
            <section class="product-box">
               <a href="/products/detail/<%= product.id %> ">
                  <figure class="product-box_image">
                     <img src="/images/products/<%= product.image %>" alt="<%= product.name %>">
                  </figure>
                  <article class="product-box_data">
                     <h2>$<%= product.price %></h2>
                     <% if(product.discount > 0) { %>
                     <span><%= product.discount %> % OFF</span>
                     <% } %>
                     <p><%= product.name %></p>
                     <i class="fas fa-truck"></i>
                  </article>
               </a>
            </section>
         </div>
         <% }); %>
         <% } %>
         
      </div>
   </div>

   <!-- footer -->
   <%- include('../partials/footer') %>
   <!-- /footer -->
</body>

</html>