<%- include("../header")  %>
<p>Create movie</p>
<hr>
<div class="col-md-8 mx-auto">
    <form action="/movies" method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title">
        </div>
        <div class="form-group">
            <label for="awards">Awards</label>
            <input type="number" class="form-control" name="awards">
        </div>
        <div class="form-group">
            <label for="length">Length</label>
            <input type="number" class="form-control" name="length">
        </div>
        <div class="form-group">
            <label for="release_date">Release Date</label>
            <input type="date" class="form-control" name="release_date" value="<%= moment().format("YYYY-MM-DD") %>">
        </div>
        <div class="form-group">
            <label for="revenue">Revenue</label>
            <input type="text" class="form-control" name="revenue">
        </div>
        <div class="form-group">
            <label for="genre_id">Genres</label>
            <select class="form-control" name="genre_id">
                <option value="" disabled selected>Elegir genero</option>
                <% for (genre of genres) { %> 
                <option value="<%= genre.id %> "><%= genre.name %> </option>
                <% } %> 
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary text-right">Enviar</button>
        </div>
    </form>
</div>

<%- include("../footer")  %>